<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DotNet OOP Tutorial</title>
</head>
<body>

    <div class="container">
        <div class="heading">
            Object-Oriented Programming (OOP) Concepts Tutorial in C#
        </div>
        <div class="main">
            Are you ready to master Object-Oriented Programming (OOP) and revolutionize your coding skills?
            Dive into our comprehensive tutorial covering the core concepts of OOP.
        </div>
        <img src="./images/banner.png" alt="banner image" />
    </div>
</body>
</html>